$baseCls:ab-modal;

[is-hover="true"] {
  background-color: rgba(0, 0, 0, 0.1);
}

[is-click="true"] {
  background-color: yellow
}

@mixin defaultInput {
  background-color: #fff;
  background-image: none;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  box-sizing: border-box;
  color: rgba(0, 0, 0, .85);
  display: inline-block;
  font-size: 14px;
  line-height: 1.5715;
  list-style: none;
  margin: 0;
  min-width: 0;
  padding: 4px 11px;
  position: relative;
  transition: all .3s;
  width: 200px;

  &:focus {
    border-color: #4285f4;
    border-right-width: 1px !important;
    outline: 0;
  }
}

.#{$baseCls} {
  padding: 20px;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  z-index: 9;
  background: #fff;
  border: 1px solid #f0f0f0;
  border-radius: 2px;

  &>div {
    input {
      @include defaultInput()
    }
  }

  &-item {
    width: 300px;
    display: flex;
    margin-bottom: 5px;
    flex-wrap: wrap;



    input {
      width: 66.7%;
      @include defaultInput()
    }

    span {
      width: 33.3%;
      margin-right: 10px;
    }
  }

  &-confirm {
    width: 118px;
    height: 38px;
    line-height: 38px;
    background: #4285f4;
    color: #fff;
    text-align: center;
    cursor: pointer;
    margin: 10px 10px;
  }

  &-remove {
    width: 118px;
    height: 38px;
    line-height: 38px;
    background: #e9ebf3;
    color: #737c8b;
    text-align: center;
    cursor: pointer;
    margin: 10px 10px;
  }

  &-insert {
    width: 118px;
    height: 38px;
    line-height: 38px;
    background: #4285f4;
    color: #fff;
    text-align: center;
    cursor: pointer;
    margin: 10px 10px;
  }
  .ab-edit-type {
    margin-bottom: 10px;
    width: 300px;
  }

}